<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<style type="text/css">
		.align-bottom{
			position: fixed;
			bottom: 0px;
		}
		#messages{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}
		#messages li{
			padding: 5px 10px;
		}
		#messages li:nht-child(odd){
			background-color: #eee;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark">
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        		Participantes
      		</a>
      		<div class="dropdown-menu"></div>
		</li>
	</ul>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<ul id="messages"></ul>
		</div>
	</div>
	<div class="row align-bottom">
		<div class="col-12"> 
				<input type="text" name="m" id="m" class="form-control">
				<input type="hidden" name="apelido" value="<%=data.nickname%>" id="apelido">
				<button type="submit" class="btn btn-primary" id="enviar"> >> </button>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	$('document').ready(function(){
		var client = io();
		client.on('msgParaCliente',function(obj){
			var li = "";
			li += "<li><strong>"+obj.apelido+' '+"</strong>"+obj.msg+"</li>";
			$('#messages').append(li);
			window.scrollTo(0,document.body.scrollHeight);
		});
		$('#enviar').click(function(){
			client.emit('msgParaServidor',{apelido: $("#apelido").val(), msg:$('#m').val()});
			$('#m').val('');
			return;
		});
		client.on('participantesParaCliente',function(participante){
			var a = "";
			a += "<a class='dropdown-item'>"+participante.apelido+"</a>";
			$('.dropdown-menu').append(a);
		});
	});
	


	//escuta - escuta um pedido para executar uma função 
	client.on('msgParaCliente',function(msg){
		console.log(msg);
	});
</script>
</body>
</html>